body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #C5E4E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

img {
    margin: 50px auto 0 auto;
    width: 86px;
    height: 53px;
}

main {
    margin: 41px auto 0 auto;
    width: 375px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 375px;
    display: flex;
    flex-direction: column;
}


.tip__entry {
    position: relative;
}

img.icon {
    margin: 0;
    position: absolute;
    left: 53px;
    top: 68px;
    width: 13px;
    height: 16px;
}

header h2 {
    font-size: 16px;
    color: #5E7A7D;
    margin-left: 32px;
}

input {
    width: 291px;
    height: 48px;
    margin-left: 32px;
    margin-bottom: 12px;
    border: 0;
    background-color: #F3F9FA;
    color: #00474B;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    padding-right: 20px;
}

.tip__amount {
    margin-left: 32px;
    width: 311px;
    height: 176px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

button {
    font-family: 'Space Mono', monospace;
    width: 146px;
    height: 48px;
    background-color: #00474B;
    color: white;
    font-size: 24px;
    border-radius: 8px;
}

button.fifteenPercent {
    background-color: #26C2AE;
    color: #00474B;
}

.tip__amount input {
    width: 146px;
    height: 48px;
    margin: 0;
    padding: 0;
    text-align: center;
}

button.custom {
    background-color: #F3F9FA;
    color: #547878;
    border: 0;
}

div.tippers {
    position: relative;
}

#peopleCount {
    margin-bottom: 0;
}

footer {
    margin: 32px auto 32px auto;
    border-radius: 10px;
    width: 327px;
    background-color: #00474B;
}

.result__perPerson {
    margin: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result__total {
    margin: 20px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h1 {
    margin: 0;
    color: #26C2AE;
    font-size: 32px;
}

footer h2 {
    margin: 0;
    width: 98px;
    height: 40px;
    color: white;
    font-size: 16px;
    line-height: 20px;
}

.result__total h2 {
    width: 64px;
}

footer span {
    color: #7F9D9F;
    font-size: 13px;
}

button.reset {
    width: 281px;
    height: 48px;
    background-color: #26C2AE;
    color: #00474B;
    font-size: 20px;
    text-transform: uppercase;
    margin: 24px 24px 24px 24px;
    border-color: #017379;
}

#errorMsg {
    color: #E17457;
    padding-left: 13px;
    display: none;
}

@media (min-width: 1400px) {
    body img {
        margin: 0;
    }

    body {
        justify-content: center;
    }

    main {
        margin-top: 88px;
        flex-direction: row;
        width: 920px;
        height: 481px;
    }

    header {
        margin-left: 48px;
        width: 379px;
        height: 388px;
    }

    .tip__entry h2 {
        margin: 0;
    }

    input {
        margin: 6px 0 0 0;
        width: 94%
    }

    .tip__entry input:hover {
        cursor: pointer;
        border: 2px solid #26C2AE;
        border-radius: 10px;
    }

    header h2 {
        margin: 40px 0 0 0;
    }

    button {
        width: 117px;
        height: 48px;
        padding: 0;
    }

    .tip__amount input {
        width: 117px;
        height: 48px;
    }

    .tip__amount input:focus {
        outline: none;
        border: 3px solid #26C2AE;
        border-radius: 5px;
    }

    button:hover {
        color: #00474B;
        background-color: #9FE8DF;
    }

    .tip__amount {
        margin: 16px 0 0 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 16px;
        column-gap: 14px;
    }

    .tippers h2 {
        margin-top: 40px;
    }

    .badInput {
        cursor: pointer;
        border: 3px solid #E17052;
        border-radius: 10px;
    }

    .tippers img.icon {
        top: 89px;
    }

    #errorMsg {
        padding-left: 81px;
    }

    footer {
        width: 413px;
        height: 417px;
    }

    img.icon {
        top: 48px;
        left: 20px;
    }
}