body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #C5E4E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

img {
    margin: 50px auto 0 auto;
    width: 86px;
    height: 53px;
}

main {
    margin: 41px auto 0 auto;
    width: 375px;
    height: 789px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tip__amount {
    margin-left: 32px;
    width: 311px;
    height: 176px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

button {
    font-family: 'Space Mono', monospace;
    width: 146px;
    height: 48px;
    background-color: #00474B;
    color: white;
    font-size: 24px;
    border-radius: 8px;
}

button.fifteenPercent {
    background-color: #26C2AE;
    color: #00474B;
}

button.custom {
    background-color: #F3F9FA;
    color: #547878;
    border: 0;
}

header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 375px;
    display: flex;
    flex-direction: column;
}

footer {
    width: 327px;
    height: 257px;
    background-color: #00474B;
}

button.reset {
    width: 281px;
    height: 48px;
    background-color: #26C2AE;
    color: #00474B;
    font-size: 20px;
    text-transform: uppercase;
}

@media (min-width: 1400px) {
    main {
        display: flex;
        width: 920px;
        height: 481px;
    }

    header {
        width: 379px;
        height: 388px;
    }

    footer {
        width: 413px;
        height: 417px;
    }
}