body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    width: 375px;
    background-color: #FF7979;
    background-image: url("./images/bg-intro-mobile.png");
    display: flex;
    flex-direction: column;
}

header {
    width: 327px;
    margin: 88px auto 0 auto;
}

h1 {
    text-align: center;
}

footer {
    margin: 64px auto 0 auto;
    width: 327px;
}

h2 {
    background-color: #5E54A4;
}

form {
    background-color: white;
    color: #3D3B48;
    margin-bottom: 0;
}

button {
    display: block;
    color: white;
    background-color: #38CC8B;
}

h3 {
    margin-top: 0;
    background-color: white;
    color: #BAB7D4;
}

@media (min-width: 1500px) {
    main {
        width: 1440px;
        height: 800px;
        background-image: url("./images/bg-intro-desktop.png");
        flex-direction: row;

    }
}