body {
    background-color: white;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(240, 161, 13, 0.815),rgba(233, 119, 13, 0.863));
    background-attachment: fixed;
    font-family: 'Changa One', cursive;
}

header {
    text-align: center;
    background-color: #121817;
    color: rgba(206, 152, 51, 0.925);
    font-size: 24px;
    margin: 20px;
    padding: 10px;
    border-radius: 1em;
    word-spacing: 110%;
}

main {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    width: 275px;
    height: 375px;
    cursor: pointer;
    background-color: #121817;
    letter-spacing: 110%;
    word-spacing: 110%;
    color: rgba(206, 152, 51, 0.925);
    text-align: center;
    border-radius: 1em;
}

section {
    width: 80%;
    height: 250px;
    margin: 0 auto;
}

img {
    width: 100%;
    object-fit:scale-down;
}

h2 {
    font-size: 20px;
}

.submitted {
    color: rgb(238, 238, 102);
}

.accepted {
    color: rgb(49, 155, 49);
}