.attribution {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(212, 45%, 89%);
}

article {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: white;
    border-radius: 1em;
    width: 375px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 100%;
    margin: 1em 1em 0 1em;
    border-radius: 1em;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 0;
}

section > p {
    font-size: 12px;
}