* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hoverColor: #83ffe2;
    --green: #54e6af;
    --dgray: #25293A;
    --mgray: rgb(90, 102, 138);
    --lgray: #c2cbe5;
    --navy: #121725;
    --alert: #FB3E3E;
}

body {
    font-family: 'Chivo', sans-serif;
    background-color: #F2F2F2;
}

.top__container {
    width: 375px;
    height: 667px;
    background-color: var(--navy);
    margin: 0 auto;
    background-image: url(./starter-code/assets/mobile/image-host.jpg);
    box-shadow: inset 0 0 0 188px rgba(12, 17, 25, .85);
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 62px;
    left: 120px;
}

main {
    color: white;
    margin: 175px auto 0;
    width: 327px;
    height: 192px;
}

h1 {
    width: 327px;
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
    color: var(--green);
}

h1.everywhere {
    color: white;
}

p {
    margin-top: 16px;
    width: 327px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: var(--lgray);
    text-align: center;
    opacity: .7;
}

footer {
    margin: 33px auto 0;
    width: 315px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--mgray);
}

img[src$='png'] {
    width: 56px;
    height: 17px;
}

img[alt~='spotify'] {
    width: 56px;
    height: 17px;
}

img[alt~='apple'] {
    width: 45px;
    height: 17px;
}

img[alt~='google'] {
    width: 73px;
    height: 11px;
}

img[alt~='pocket'] {
    width: 77px;
    height: 15px;
}

.email__container {
    width: 375px;
    margin: 48px auto 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.email__container__input,
.email__container__button {
    width: 327px;
    height: 46px;
    border-radius: 30px;
    font-family: 'Chivo', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color: var(--navy);
    margin: 0 auto;
}

.email__container__input {
    background-color: #2C344B;
    color: white;
    padding-left: 32px;
    border: 0;
}

input::placeholder {
    color: white;
}

.email__container__button {
    color: var(--mgray);
    background-color: var(--green);
    border: 0;
}

.email__container__button:hover {
    background-color: #B3FFE2;
    cursor: pointer;
}

.email__container__button:active {
    background-color: #7cd1b0;
}

h2 {
    font-size: 12px;
    font-weight: bold;
    color: var(--alert);
    margin: 2px auto 0;
    display: none;
}

.error {
    display: block;
}

.dot__grid {
    display: none;
}