.top__container {
    width: 768px;
    height: 1024px;
    background-image: url(./starter-code/assets/tablet/image-host.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    box-shadow: none;
}