.attribution {
    margin-top: 1em;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(225, 100%, 94%);
}

h1, h2 {
    text-align: center;
    margin: .5em 1em;
    font-family: 'Red Hat Display', sans-serif;
}

h1 {
    margin-top: 1.4em;
    font-size: 24px;
    font-weight: 900;
}

h2 {
    margin: 1em 2em;
    color: hsl(224, 23%, 55%);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3em;
}

.hero__image {
    width: 375px;
    border-radius: 1em 1em 0 0;
}

.card {
    margin: 1em;
    width: 375px;
    background-color: white;
    border-radius: 1em;
}

.price {
    display: flex;
    align-items: center;
    margin: 0 2em;
}

.price__plan {
    margin: 0 auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 3.5em;
    border-radius: 15px;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: hsl(245, 75%, 52%);
    border-style: solid;
}

.button__cancel {
    background-color: white;
    border: 0;
    color: hsl(224, 23%, 55%);
}
