.attribution {
    margin-top: 1em;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(225, 100%, 94%);
}

h1, h2 {
    text-align: center;
    margin: .5em 1em;
    font-family: 'Red Hat Display', sans-serif;
}

.hero__image {
    width: 375px;
    border-radius: 1em 1em 0 0;
}

.card {
    width: 375px;
    background-color: white;
    border-radius: 1em;
}

.price {
    display: flex;
    align-items: center;
    margin: 0 2em;
}

.price__plan {
    margin: 0 auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button__proceed {
    
}
.button__cancel {
    background-color: white;
    border: 0;
}
