body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(#B068E9, #6463E7);
    background-repeat: no-repeat;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile__shadow {
    margin-top: -85px;
}

.mobile__image__container {
    position: relative;
    margin: -101px;
}

.faq__section {
    margin: 0;
    background-color: white;
    width: 327px;
    height: auto;
    border-radius: 15px;
    box-shadow: inset;
    display: flex;
    flex-direction: column;
}

h1 {
    width: 69px;
    height: 40px;
    color: #1E1F36;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 10px auto;
}

header {
    margin: 0 0 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 279px;
}

header > img.arrow {
    height: 8px;
    width: 10px;
}

h2 {
    font-size: 13px;
    font-weight: 400;
    color: #1E1F36;
}
h2:hover {
    cursor: pointer;
    color: #F47B56;
}

p {
    font-size: 12px;
    font-weight: 400;
    color: #787887;

    margin: 0 0 0 24px;
    width: 236px;
    display: none;
}

.horizontal__line {
    width: 279px;
    height: 1px;
    background-color: #E8E8EA;
    margin: 8px 0 0 24px;
}

.bottom__line {
    margin-bottom: 30px;
}

@media (min-width: 1110px) {
    main {
        flex-direction: row;
        width: 920px;
        height: 509px;
        background-color: white;
        border-radius: 20px;
    }

    .mobile__image {
        width: 472px;
        height: 359px;
    }

    .mobile__image__container {
        position: relative;
        left: 95px;
        margin-top: 10px;
        margin-right: 230px;
        margin-left: -195px;
        width: 400px;
    }

    .mobile__shadow {
        width: 500px;
        margin-left: -10px;
        margin-top: -100px;
    }
    .faq__section h1 {
        margin-top: 0;
    }
    .faq__section {
        max-width: 460px;
        height: 400px;
        margin-right: 150px;
        margin-top: 10px;
    }
}

