body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #F2F2F2;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 30px;
    width: 375px;
    background-color: white;
}

header {
    position: relative;
}

img.background {
    width: 375px;
    height: 240px;
    margin: 0;
}

.card__back {
    position: absolute;
    top: 32px;
    left: 73px;
    width: 286px;
    height: 157px;
    background-image: url("./images/bg-card-back.png");
    background-size: contain;
    border-radius: 10px;
}

h1 {
    position: absolute;
    color: white;
    font-size: 18px;
    letter-spacing: 2.2px;
}

h2 {
    position: absolute;
    color: white;
    font-size: 9px;
    letter-spacing: 1.29px;
    text-transform: uppercase;
}

.card__cvc {
    /* on card back */
    position: absolute;
    top: 65px;
    left: 224px;
}

.card__front {
    position: absolute;
    top: 122px;
    left: 16px;
    width: 286px;
    height: 157px;
    background-image: url("./images/bg-card-front.png");
    border-radius: 10px;
}

.card__number {
    top: 72px;
    left: 16px;
    z-index: 10;
}

.card__name {
    position: absolute;
    top: 119px;
    left: 32px;
    z-index: 11;
}

.card__date {
    top: 119px;
    left: 234px;
    z-index: 12;
}

.card__logo {
    position: absolute;
    top: 23px;
    left: 19px;
    width: 54px;
    height: 30px;
}

footer {
    width: 327px;
    margin: 91px auto 24px auto;
}

/* 
* Date Entry Page 
*/

.dataEntry__inProgress {
    width: 327px;
    /* height: 328px; */
}

.name__container,
.cardNumber__container,
.misc__container{
    width: 327px;
    height: 89px;
}

.form__text {
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0 auto 6px auto;
    color: hsl(278, 68%, 11%);
}

.expiration__container {
    width: 327px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.small__container {
    width: 72px;
    height: 69px;
}

.medium__container {
    width: 164px;
    height: 69px;
}

.large__container {
    width: 164px;
    height: 69px;
}

input, input:focus {
    font-family: 'Space Grotesk', sans-serif;
    outline: none;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 10px;
    box-shadow: none;
    font-size: 18px;
    opacity: .75;
    padding-left: 14px;
    box-sizing: border-box;
}

.large__input {
    width: 327px;
    height: 45px;
}

.medium__input {
    width: 164px;
    height: 45px;
}

.small__input {
    width: 72px;
    height: 45px;
    margin-right: 8px;
}

.number__errorMsg {
    display: block;
    margin: 3px;
    color: #ff5252;
    font-size: 10px;
    /* display: none; */
}


/* Confirmation Page  */
.dataEntry__complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.icon__complete {
    width: 80px;
    height: 80px;
}

.thankYou {
    color: #21092f;
    margin: 0;
    margin-top: 35px;
    font-size: 30px;
    text-transform: uppercase;
}

.detailsAdded {
    margin: 0;
    margin-top: 15px;
    color: #443950c7;
    font-size: 18px;
}

button {
    margin-top: 28px;
    width: 327px;
    height: 53px;
    color: white;
    font-size: 18px;
    background-color: #21092f;
    border-radius: 10px;
}

