body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #F2F2F2;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 30px;
    width: 375px;
    background-color: white;
}

header {
    position: relative;
}

.background {
    width: 375px;
    height: 240px;
    margin: 0;
}

.card__back {
    position: absolute;
    top: 32px;
    left: 73px;
    width: 286px;
    height: 157px;
    background-image: url("./images/bg-card-back.png");
    background-size: contain;
    border-radius: 10px;
}

h1 {
    position: absolute;
    color: white;
    font-size: 18px;
    letter-spacing: 2.2px;
}

h2 {
    position: absolute;
    color: white;
    font-size: 9px;
    letter-spacing: 1.29px;
    text-transform: uppercase;
}

.card__cvc {
    /* on card back */
    position: absolute;
    top: 65px;
    left: 224px;
}

.card__front {
    position: absolute;
    top: 122px;
    left: 16px;
    width: 286px;
    height: 157px;
    background-image: url("./images/bg-card-front.png");
    border-radius: 10px;
}

.card__number {
    top: 72px;
    left: 16px;
    z-index: 10;
}

.card__name {
    position: absolute;
    top: 119px;
    left: 32px;
    z-index: 11;
}

.card__date {
    top: 119px;
    left: 234px;
    z-index: 12;
}

.card__logo {
    position: absolute;
    top: 23px;
    left: 19px;
    width: 54px;
    height: 30px;
}

footer {
    width: 327px;
    margin: 91px auto 24px auto;
}

/* 
* Date Entry Page 
*/

.dataEntry__inProgress {
    width: 327px;
    /* height: 328px; */
}

.name__container,
.cardNumber__container,
.misc__container {
    width: 327px;
    height: 89px;
}

.form__text {
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0 auto 6px auto;
    color: hsl(278, 68%, 11%);
}

.expiration__container {
    width: 327px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 10px;
}

.small__container {
    width: 72px;
    height: 69px;
}

.medium__container {
    width: 164px;
    height: 69px;
}

.large__container {
    width: 164px;
    height: 69px;
}

input,
input:focus {
    font-family: 'Space Grotesk', sans-serif;
    outline: none;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 10px;
    box-shadow: none;
    font-size: 18px;
    opacity: .75;
    padding-left: 14px;
    box-sizing: border-box;
}

.large__input {
    width: 327px;
    height: 45px;
}

.medium__input {
    width: 164px;
    height: 45px;
}

.small__input {
    width: 72px;
    height: 45px;
    margin-right: 8px;
}

.errorMsg {
    display: absolute;
    display: block;
    color: #ff5252;
    font-size: 9px;
    font-weight: 700;
    margin: 6px auto 0 auto;
}



.borderRed {
    border: 2px solid hsl(0, 100%, 66%);
}


/* Confirmation Page  */
.dataEntry__complete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon__complete {
    width: 80px;
    height: 80px;
}

.thankYou {
    color: #21092f;
    margin: 0;
    margin-top: 35px;
    font-size: 30px;
    text-transform: uppercase;
}

.detailsAdded {
    margin: 0;
    margin-top: 15px;
    color: #443950c7;
    font-size: 18px;
}

button {
    margin-top: 41px;
    width: 327px;
    height: 53px;
    color: white;
    font-size: 18px;
    background-color: #21092f;
    border-radius: 10px;
}

.hidden {
    display: none;
}

@media screen and (min-width: 1400px) {
    body {
        margin: 0;
        padding: 0;
    }

    main {
        margin: 0;
        width: 1440px;
        height: 900px;
        display: flex;
        justify-content: flex-start;
    }

    header {
        width: 483px;
        height: 900px;
    }

    img.background {
        width: 483px;
        height: 900px;
    }

    footer {
        margin: 0;
        width: 800px;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card__front {
        position: absolute;
        top: 166px;
        left: 93px;
        width: 447px;
        height: 245px;
        background-image: url("./images/bg-card-front.png");
        border-radius: 10px;
        font-size: 18px;
    }

    .card__back {
        position: absolute;
        top: 459px;
        left: 173px;
        width: 447px;
        height: 245px;
        background-image: url("./images/bg-card-back.png");
        background-size: contain;
        border-radius: 10px;
    }

    .card__cvc {
        /* on card back */
        position: absolute;
        top: 95px;
        left: 353px;
        font-size: 18px;
    }

    .card__number {
        top: 148px;
        left: 38px;
        z-index: 10;
    }
    
    .card__name {
        position: absolute;
        top: 194px;
        left: 38px;
        z-index: 11;
    }
    
    .card__date {
        top: 194px;
        left: 368px;
        z-index: 12;
    }
    
    .card__logo {
        position: absolute;
        top: 36px;
        left: 38px;
        width: 84px;
        height: 47px;
    }


}