main {
    margin: 10px auto;
    width: 375px;
    font-family: 'League Spartan', sans-serif;
}

header {
    margin-bottom: 40px;
}

article {
    margin: 0 auto;
}

header .blurb {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 327px;
    height: 219px;
    background-color: white;
}

header article {
    height: 78px;
    width: 327px;
    background-color: #F7F2F7;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: #512051;
}

header p {
    text-align: center;
    color: #927B91;
    line-height: 20px;
    font-size: 19px;
}

.star_images {
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

header h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #512051;
}

footer, article {
    display: inline-block;
}

footer article {
    border-radius: 10px;
    margin-left: 30px;
    width: 327px;
    height: 248px;
    background-color: #512051;
    color: white;
    margin-bottom: 20px;
}

.verifiedBuyer {
    color: #EE69A4;
}

.pic__and__name {
    margin-top: 40px;
    padding-left: 37px;
    width: 162px;
    height: 40px;
    display: flex;
    align-items: center;
}

.pic__and__name img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.pic__and__name h2 {
    margin-top: 0;
    font-size: 17px;
}

.name__and__verifiedBuyer {
    white-space: nowrap;
    margin-left: 30px;
}

.name__and__verifiedBuyer p{
    margin: 0;
}

blockquote {
    margin-top: 35px;
}