* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --cyan: hsl(193, 38%, 86%);
    --green: hsl(150, 100%, 66%);
    --gray1: hsl(217, 19%, 38%);
    --gray2: hsl(217, 19%, 24%);
    --gray3: hsl(218, 23%, 16%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--gray3);
    color: white;
    display: grid;
    place-content: center;
}

main {
    width: 343px;
    height: 315px;
    background-color: var(--gray2);
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--green);
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 3.46px;
    text-transform: uppercase;
    margin-top: 40px;
}

h2 {
    color: var(--cyan);
    margin-top: 24px;
    font-size: 24px;
    letter-spacing: -.26px;
    font-weight: 800;
    width: 295px;
    height: 132px;
    text-align: center;
}

.dividingLine {
    width: 295px;
    height: 16px;
    background-image: url(./images/pattern-divider-mobile.svg);
    position: absolute;
    top: 244px;
}

.dice__circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--green);
    display: grid;
    place-content: center;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: 0;
}

.dice__circle:active {
    box-shadow: 0px 0px 32px 12px hsla(150, 100%, 66%, .4);
}

@media (min-width: 1440px) {
    main {
        width: 540px;
        height: 364px;
    }

    h1 {
        margin-top: 48px;
    }

    h2 {
        font-size: 28px;
        width: 444px;
    }

    .dividingLine {
        width: 444px;
        background-image: url(./images/pattern-divider-desktop.svg);
        top: 282px;
    }
}