.twoSquare--height650 {
   width: 1440px;
   height: 650px;
}

.twoSquare {
    width: 1440px;
    height: 600px;
}

.twoSquare img {
    width: 830px;
    height: 600px;
}

article {
    width: 610px;
    height: 600px;
}

.article--black a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
.article--white a:hover{
    text-decoration-color: black;
    text-decoration: underline;
}

/* STORIES */
.stories {
    width: 1440px;
    grid-template-columns: repeat(4, 360px);
}

figure:hover {
    margin-bottom: 30px;
    margin-top: -30px;
}

/* TECHNICAL SECTION */
.technical__section {
    flex-direction: row;
    margin: 120px 165px;
    width: 1110px;
    height: 238px;
}

/* TECHNICAL SECTION FEATURES*/
.technical__section--features {
    padding: 0;
    margin: 160px 165px;
    width: 1110px;
    height: 576px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 236px;
    row-gap: 104px;
    column-gap: 30px;
    justify-items: center;
}

/* BETA */
.beta .caption__link {
    left: 1103px;
    top: 43%;
}

.beta .caption__arrow {
    top: 43%;
    left: 326%
}

.features__article--black {
    width: 610px;
    flex-shrink: 0;
}