.topContainer {
    width: 768px;
}

/* HEADER */
header :is(#hamburgerIcon, #menuContents, hr) {
    display: none;
}

.menu__row {
    display: flex;
    align-items: center;
}

.large__menu {
    width: 269px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.large__menu a {
    color: black;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-decoration: none;
}

.large__invite {
    width: 158px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2.5px;
    display: grid;
    place-content: center;
}

/* MAIN */

.twoSquare {
    width: 768px;
    flex-direction: row;
}

.twoSquare picture {
    width: 273px;
    height: 600px;
}

.item1 {
    order: 1;
}

.item2 {
    order: 2;
}

article {
    width: 495px;
    height: 600px;
    padding: 0;
}

.article__header {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.17px;
    margin: 173px 54px 0 54px;
}

.article__para {
    margin: 21px 54px 0 54px;
}

.link__box {
    margin: 48px auto 0 54px;
}

/* STORIES */

.stories {
    grid-auto-rows: 500px;
    grid-template-columns: 389px 379px;
}

.stories img {
    width: 100%;
    height: 100%;
}

/* TECHNICAL SECTION */
.technical__section {
    padding: 120px 0;
    gap: 80px;
}

.technical__article {
    width: 457px;
    height: auto;
}

/* FOOTER */

footer {
    width: 768px;
    height: 284px;
    flex-direction: row;
}

.footer__left {
    width: 384px;
    height: 156px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 64px 0 auto 32px;
}

.navigation__links {
    flex-direction: row;
    gap: 26px;
}

.social__media {
    order: 3;
}

.footer__right {
    margin: 64px 40px 64px 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__invite {
    margin: 0;
    width: 168px;
    display: flex;   
}

footer .footer__invite svg {
    position: static;
    display: inline;
}

.footer__copyright {
    margin: 0;
    width: 255px;
}