/* MAIN */

/* TWO SQUARE FOR STORIES */
.stories__twoSquare {
    width: 768px;
    height: 650px;
    flex-direction: row;
    position: relative;
    line-height: normal;
}

.stories__article {
    width: 387px;
    height: 406px;
    color: white;
    background-color: transparent;
    position: absolute;
    left: 39px;
    top: -30px;
}

.stories__article__preHeader {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.stories__article__header {
    text-transform: uppercase;
    letter-spacing: 4.17px;
    line-height: 48px;
    font-size: 40px;
    font-weight: bold;
    margin: 24px 0 0 0;
}

.stories__article__subtitle {
    margin: 16px 0 0 0;
}

.stories__article__date {
    margin-right: 9px;
}

.stories__article__para {
    margin: 24px 0 0 0;
}

.stories__link__box {
    width: 184px;
    height: 16px;
    margin: 24px 0 0 0;
    display: flex;
    align-items: center;
    width: 60%;
    flex: 0 0 auto;
    position: relative;
}

/* TWO SQUARE FOR FEATURES PAGE */
.features__twoSquare {
    width: 768px;
    height: 490px;
    display: flex;
}

.features__article__header {
    width: 387px;
    height: 48px;
    margin: 173px 0 0 54px;
    font-size: 40px;
    letter-spacing: 4.17px;
    line-height: 48px;
}

.features__article__para {
    width: 387px;
    height: 75px;
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
    opacity: .6;
    margin: 21px 0 0 54px;
}

.features__article--black {
    width: 495px;
    height: 490px;
    margin: 0;
}

.features__pictures {
    width: 273px;
    height: 490px;
}

/* TWO SQUARE FOR INDEX PAGE */
.twoSquare {
    width: 768px;
    height: 600px;
    flex-direction: row;
    justify-content: space-between;
}

.twoSquare--height650 {
    height: 650px;
}

article {
    width: 387px;
    height: 304px;
    padding-bottom: 0;
    margin: 173px 54px;
}

.item2 {
    order: 1;
}

.article__header {
    margin: 0;
    width: 387px;
    height: 144px;
    font-size: 40px;
    letter-spacing: 4.17px;
    line-height: 48px;
}

.article__para {
    margin: 21px 0 0 0;
    width: 387px;
    height: 75px;
}

.link__box {
    margin: 48px 0 0 0;
}

/* STORIES */

.stories {
    grid-auto-rows: 500px;
    grid-template-columns: 389px 379px;
}

.stories img {
    width: 100%;
    height: 100%;
}

.caption--date {
    top: 68%;
    font-size: 12px;
    letter-spacing: 2px;
}

.caption--title {
    top: 72%;
    line-height: 25px;
}

.caption--subtitle {
    top: 78%;
}

.caption__dividingLine {
    top: 84%;
}

/* TECHNICAL SECTION INDEX*/
.technical__section {
    padding-top: 120px;
    gap: 80px;
}

.technical__article {
    margin: 0;
    width: 457px;
    height: auto;
}

/* TECHNICAL SECTION FEATURES*/
.technical__section--features {
    padding: 112px 0;
    display: grid;
    width: 100%;
    grid-template-columns: 345px 345px;
    grid-auto-rows: 236px;
    row-gap: 72px;
    column-gap: 11px;
    justify-items: center;
}

article.technical__article--features {
    width: 340px;
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
}

.technical__article--features img {
    /* prevent svg stretching */
    align-self: center;
}

.technical__article--features h2 {
    margin: 48px auto 0 auto;
}

.technical__article--features h2.infinity--offset {
    margin-top: 86px;
}

.technical__article--features p{
    width: 339px;
    margin: 16px auto 0 auto;
    text-align: center;
}

/* BETA */
.beta {
    height: 280px;
    position: relative;
}

.beta__title {
    line-height: 48px;
    letter-spacing: 4.17px;
    width: 400px;
    height: 144px;
    font-size: 40px;
    top: 53px;
    left: 33px;
}

.beta .caption__link {
    position: absolute;
    width: 120px;
    left: 528px;
    top: 45%;
}

.beta .caption__arrow {
    position: absolute;
    top: 44%;
    left: 183%;
}
