/* MAIN */

/* TWO SQUARE FOR STORIES */
.stories__twoSquare {
    width: 768px;
    height: 650px;
    flex-direction: row;
    position: relative;
    line-height: normal;
}

.stories__article {
    width: 387px;
    height: 406px;
    color: white;
    background-color: transparent;
    position: absolute;
    left: 39px;
    top: -30px;
}

.stories__article__preHeader {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.stories__article__header {
    text-transform: uppercase;
    letter-spacing: 4.17px;
    line-height: 48px;
    font-size: 40px;
    font-weight: bold;
    margin: 24px 0 0 0;
}

.stories__article__subtitle {
    margin: 16px 0 0 0;
}

.stories__article__date {
    margin-right: 9px;
}

.stories__article__para {
    margin: 24px 0 0 0;
}

.stories__link__box {
    width: 184px;
    height: 16px;
    margin: 24px 0 0 0;
    display: flex;
    align-items: center;
    width: 60%;
    flex: 0 0 auto;
    position: relative;
}

/* TWO SQUARE FOR EVERY OTHER PAGE */
.twoSquare {
    width: 768px;
    height: 600px;
    flex-direction: row;
    justify-content: space-between;
}

.twoSquare--height650 {
    height: 650px;
}

article {
    width: 387px;
    height: 304px;
    padding-bottom: 0;
    margin: 173px 54px;
}

.item2 {
    order: 1;
}

.article__header {
    margin: 0;
    width: 387px;
    height: 144px;
    font-size: 40px;
    letter-spacing: 4.17px;
    line-height: 48px;
}

.article__para {
    margin: 21px 0 0 0;
    width: 387px;
    height: 75px;
}

.link__box {
    margin: 48px 0 0 0;
}

/* STORIES */

.stories {
    grid-auto-rows: 500px;
    grid-template-columns: 389px 379px;
}

.stories img {
    width: 100%;
    height: 100%;
}

.caption--date {
    top: 68%;
    font-size: 12px;
    letter-spacing: 2px;
}

.caption--title {
    top: 72%;
    line-height: 25px;
}

.caption--subtitle {
    top: 78%;
}

.caption__dividingLine {
    top: 84%;
}

/* TECHNICAL SECTION */
.technical__section {
    padding-top: 120px;
    gap: 80px;
}

.technical__article {
    margin: 0;
    width: 457px;
    height: auto;
}