body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E6EFF5;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
}

main {
    max-width: 375px;
    margin: 72px 32px;
}

h1,
h2,
p {
    margin: 0;
}

.header {
    background-color: white;
}

.center {
    background-color: #2AB3B1;
    margin: 0 auto;
}

.footer {
    margin-top: 0;
    background-color: #00DBD8;
}



@media screen and (min-width: 800px) {
    body {
        background-color: blue; /* debug only to signal cross-over */
        align-items: center;
    }
}