body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E6EFF5;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
}

main {
    width: 375px;
    margin: 72px 32px;
}

h1,
h2,
p {
    margin: 20px 24px 0 24px;
    width: 311px;
}

.header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 267px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header h1 {
    font-size: 20px;
    font-weight: 700;
    color: #2AB3B1;
}

.header h2 {
    width: 263px;
    color: #C0DF33;
    font-size: 15px;
}

.header p {
    width: 263px;
    color: #9AA7BE;
    font-size: 14px;
    line-height: 2em;
}

.center {
    background-color: #2AB3B1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.center h1 {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.center h2 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.center h2 span {
    font-size: 16px;
    font-weight: 500;
    margin-left: 14px;
    opacity: .5;
}

.center p {
    color: white;
    margin-top: 8px;
}

button {
    width: 263px;
    height: 48px;
    background-color: #C0DF33;
    border-radius: 6px;
    border: 0;
    margin: 26px auto 20px auto;
}

button span {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.footer {
    margin-top: 0;
    margin-bottom: 20px;
    background-color: hsl(179, 62%, 43%, .75);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 227px;
}

.footer h1 {
    margin: 24px auto 20px auto;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.footer h2 {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    opacity: .75;
}

@media screen and (min-width: 650px) {
    body {
        align-items: center;
    }

    main {
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px;
        grid-template-areas:
            "header header"
            "center footer";
    }

    .header {
        width: 100%;
        height: 100%;
        grid-area: 1 / 1 / 2 / -1;
    }

    .header h2 {
        width: 100%;
    }

    .header p {
        width: 555px;
    }

    .center {
        grid-area: center;
        border-bottom-left-radius: 10px;
    }

    .center h1, .center h2, .center p, button {
        margin-left: 40px;
    }

    .footer {
        grid-area: footer;
        height: 100%;
        border-bottom-left-radius: 0;
    }

    .header h1 h2 p {
        width: 300px;
    }
}