main {
    width: 1440px;
    height: auto;
}

header {
    width: 100vw;
    height: 358px;
}

.header {
    margin-top: 61px;
    max-width: 1440px;
    height: 358px;
    display: grid;
    grid-template-columns: 1fr 540px 1fr;
    grid-template-rows: 0 358px;
}

.center__content {
    width: 540px;
    height: 358px;
    margin: 0;
}

.center__content h1 {
    width: 455px;
    height: 128px;
    margin: 47px auto 0 auto;
    font-size: 64px;
    line-height: 64px;
}

.center__content p {
    width: 540px;
    height: 52px;
    margin: 34px auto 0 auto;
}

img.hero__right {
    /* img.hero__right is hidden in mobile.css - overriden here to reveal */
    display: block;
}

button.download:hover {
    background-color: #71C0D4;
}

button.what:hover, button.footer__download:hover {
    background-color: #B18BDD;
}
 
img.hero,
img.hero__right {
    width: 90%;
    /* height: auto; */
    margin: auto;
    object-fit: contain;
}

img.hero__right {
    margin-top: 45px;
    padding-left: 25px;
}

.line {
    margin-top: 110px;
}

.four__happy__images {
    margin: 64px auto 0 auto;
}