main {
    max-width: 1440px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
}

.desktop__hero-right {
    display: inline;
}

.header {
    width: 100%;
    height: 358px;
    display: flex;
}

.text__and__buttons {
    width: 540px;
    height: 304px;
}

img.hero, img.desktop__hero-right {
    width: 100px;
    height: 100px;
}