.container {
    width: 375px;
    
    display: grid;
    grid-template-rows: [logo-start] 48px [logo-end] 76px 
                        [heroPic-start] 130px [heroPic-end] 283px 
                        [heading-start] 331px [heading-end] 419px
                        [explanation-start] 443px [explanation-end] 521px 
                        [download-button-start] 553px [download-button-end] 611px
                        [what-button-start] 627px [what-button-end] 685px
                        [number-img-start] 749px [number-img-end] 889px 
                        [happy-user-pics-start] 953px [happy-user-pics-end] 1263px
                        [three-blurbs-start] 1327px [three-blurbs-end] 1611px
                        [footer-start] 1675px [footer-end] 2215px;
    justify-items: center;
}

.logo {
    grid-row: logo-start/logo-end;
    align-self: center;
}

.hero {
    grid-row: heroPic-start/heroPic-end;
    margin-left: -65px;
    width: 375px;
    justify-self: auto;
    align-self: auto;
}

.hero img {
    width: 110%;
    object-fit:contain;
}

.headerText {
    grid-row: 4/5;
    align-self: center;
}

.headerExplanation {
    grid-row: 5/6;
}

.button_download {
    grid-row: 6/7;
}
.button_what {
    grid-row: 7/8;
}


footer {
    grid-row: footer-start/footer-end;
    align-self: center;
}