.container {
    width: 375px;
    display: grid;
    flex-direction: column;
}

.logo {
    margin: 48px auto 0 auto;
}

.hero {
    margin-top: 35px;
    margin-left: -25px;
    width: 500px;
}

.hero img {
    width: 100%;
    object-fit: scale-down;
}