.teal {
    color: #4D96A9;
}

.lightBlue {
    color: #8FE3F9;
}

.lightBlueMouseover {
    color: #71C0D4;
}

.purple {
    color: #855FB1;
}

purpleMouseover {
    color: #B18BDD;
}

.versionPurple {
    color: #D988ff;
}

.headingColor {
    color: #28283D;
}

p {
    color: #87879d;
}

