body {
    background-color: hsl(217, 54%, 11%);
}

main {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(216, 50%, 16%);

    width: 350px;
    height: 596px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item__image {
    display: block;
    border-radius: 3%;
    width: 302px;
    height: 302px;
    margin: 24px;
}

.item__title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-left: 24px;
}

.item__description {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-left: 24px;
    font-size: 18px;
    line-height: 1.4em;
}

.bid {
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 1em;
}

.bid__cost {
    font-weight: 600;
    margin-right: auto;
    margin-left: 10px;
    color: hsl(178, 100%, 50%);
}

.bid__time {
    font-weight: 400;
    margin-right: 24px;
    margin-left: 10px;
    color: hsl(215, 51%, 70%);
}

.hrRule {
    width: 302px;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    margin: 10 0 10 24;
}

.profile {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 24px;
}

.profile__pic {
    height: 33px;
    border: solid 2px white;
    border-radius: 50%;
}

.profile__info {
    font-size: 18px;
    font-weight: 500;
}

.attribution {
    color: hsl(215, 67%, 51%);
    font-size: 11px;
    display: flex;
    justify-content: center;
}

.attribution a {
    color: hsl(228, 69%, 57%);
}