body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 1360px;
    color: #4D4F62;
}

.header {
    margin: 85px auto 50px auto;
    width: 311px;
    height: 161px;
}

.header h1 {
    font-size: 24px;
    margin: 8px 0;
}

.header__light {
    font-weight: 200;
}

.header p {
    font-size: 15px;
    opacity: .5;
}

img {
    margin-top: 10px;
}

/* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1300px;
}

.content div {
    width: 311px;
    height: 222px;
    margin-bottom: 25px;
} */

div#supervisor,
div#teamBuilder,
div#karma,
div#calculator {
    width: 311px;
    height: 222px;
    margin: 0 auto 0 auto !important;
}


@media (min-width: 1115px) {
    main {
        height: 1550px;
        align-items: center;
    }

    img {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .content {
        /* outline: 1px solid red; */
        width: 1110px;
        height: 530px;
        position: relative;
    }

    h3 {
        width: 286px;
    }

    div#supervisor,
    div#teamBuilder,
    div#karma,
    div#calculator {
        width: 350px;
        height: 250px;
        margin: 0 !important;
        position: absolute;
    }

    #supervisor {
        top: 140px;
    }

    #calculator {
        top: 140px;
        left: 760px;
    }

    #teamBuilder {
        left: 380px;
    }

    #karma {
        left: 380px;
        top: 280px;
    }



}