main {
    outline: red solid 1px;
}

nav {
    outline: blue solid 1px;
}

header {
    outline: green solid 1px;
}

section {
    outline: orange 1px solid;
}

aside {
    outline: black solid 3px;
}

img {
    outline: black dotted 3px;
}