main,
header,
footer {
    width: 80%;
    max-width: 1200px;
    margin-left: 3em;
}

body {
    background-image: url("./assets/bg-main-tablet.png");
    background-size: 110%;
    background-position: -100px -150px;
    background-repeat: no-repeat;
}

main {
    width: 80%;
}

.background {
    width: 100%;
    background-color: black;
    background-image: url("./assets/background_simpleThree.svg");
    background-position: center -50px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.phone__image {
    margin-left: -50%;
    margin-bottom: -150px;
}

.card {
    width: 399px;
    height: 546px;
    margin-left: 30%;
    margin-top: -320px;
    padding-bottom: 20px;
}

button.ios:hover {
    background-color: #66E2DC;
}

button.android:hover {
    background-color: #FFB964;
}

footer {
    height: auto;
   
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

footer>img {
    outline: red dotted 1px;
    grid-area: 1/1/1/2;
    align-self: center;
}