body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main,
header,
footer {
    width: 375px;
}

.card {
    height: 546px;
    background-color: #FA7453;
    color: #FCFAF9;
    border-radius: 10px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    padding-top: 1em;
    margin-left: 0;
}

h3 {
    font-weight: 500;
    line-height: 1.6em;
    margin-top: 15px;
}

h2,
h3,
button,
.price__amount,
.price__duration {
    margin-left: 2rem;
    margin-right: 1.5rem;
}

.price__container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.price__amount {
    font-size: 65px;
    font-weight: bold;
    margin-right: 0;
}

.price__duration {
    font-size: 20px;
    margin-left: 0;
}

button {
    margin: 1em auto;
    width: 296px;
    height: 61px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.ios {
    background-color: #191826;
    color: #FCFAF9;
}

button.android {
    background-color: #FCFAF9;
    color: #191826;
}

.button__label {
    margin-left: 5px;
}

footer {
    margin-top: 40px;
}

footer .message {
    margin-top: 20px;
}

footer p {
    margin: 0;
}

footer address {
    font-weight: bold;
    font-style: normal;
}

footer .icons {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 1em
}