body {
    max-width: 800px;
    display: grid;
    place-items: center;
}

main,
header,
footer {
    width: 696px;
}

header {
    outline: teal dashed 3px;
    background-image: url("./assets/bg-main-tablet.png");
    background-size: 200%;
    position: relative;
}

.header__message {
    max-width: 537px;
}

header h1 {
    max-width: 500px;
    font-size: 64px;
    font-weight: bold;
}

header p {
    font-size: 18px;
    max-width: 500px;
}

header img {
    /* position: absolute;
    top: -300px;
    left: -400px */
}

