body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECF2F8;
    font-family: 'Manrope', sans-serif;
}

main {
    width: 327px;
    background-color: white;
    border-radius: 10px;
}

.header__image {
    width: 327px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content h1 {
    width: 263px;
    height: 72px;
    font-size: 16px;
    font-weight: bold;
    margin: 36px auto 0 auto;
    color: #48556A;
}

.content > h2 {
    width: 263px;
    height: 100px;
    font-size: 13px;
    font-weight: 500;
    margin: 12px auto 0 auto;
    color: #6E8098;
}

.footer {
    width: 327px;
    height: 64px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
}

img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 32px;
}

.footer__info {
    width: 116px;
    height: 40px;
    margin-left: 16px;
}

.name {
    font-size: 13px;
    font-weight: 700;
    color: #48556A;
    margin: 0;
}

.date {
    font-size: 13px;
    font-weight: 400;
    color: #9DAEC2;
    margin: 0;
}

button#showIcons {
    height: 32px;
    width: 32px;
    border: 0;
    border-radius: 50%;
    margin-left: 50px;
}

button#hideIcons {
    height: 32px;
    width: 32px;
    border: 0;
    border-radius: 50%;
    margin-left: 50px;
}

button#showIcons:hover,
#hideIcons:hover {
    cursor: pointer;
    color: white;
    height: 40px;
    width: 40px;
}

aside {
    width: 327px;
    height: 64px;
    background-color: #48556A;
    display: flex;
    align-items: center;
    display: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

aside h2 {
    margin-left: 32px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9DAEC2;
}

aside .socialMedia {
    width: 92px;
    margin-left: 21px;
    display: flex;
    justify-content: space-between;
}

.gray__button {
    height: 32px;
    width: 32px;
}

@media (min-width: 910px) {
    main {
        width: 730px;
        height: 280px;
        display: flex;
        flex-direction: row;
    }

    .header__image {
        width: 285px;
        height: 280px;
    }

    .content {
        height: 216px;
        margin: 32px 0 0 40px;
    }

    .content h1 {
        width: 365px;
        height: 84px;
        font-size: 20px;
        font-weight: 700;
        margin: 0;
    }

    .content h2 {
        width: 365px;
        height: 60px;
        margin: 12px 0 0 0;
    }

    #footer {
        width: 365px;
        height: 40px;
        margin: 30px 0 0 0;
    }

    img.avatar {
        margin-left: 0;
    }

    h2.name {
        margin-top: 5px;
        height: 20px;
        width: 116px;
    }

    h2.date {
        margin: 0;
        height: 20px;
        width: 116px;
    }

    button#showIcons {
        margin-left: 140px;
    }

    aside {
        position: absolute;
        width: 248px;
        height: 67px;
    }


}